* {
    transition: all 200ms;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.button {
    width: 50px;
    padding: 10px;
    border-radius: 100%;
    cursor: pointer;
}

.button:hover { 
    filter: opacity(50%); 
}

.button:active {
    filter: opacity(10%); 
}


